:root {
  --main-font: "Roboto Condensed", sans-serif;
  --accent-font: "Oswald", sans-serif;

  /* main colors */
  --black: #121417;
  --accent: #ffd30f;
  --light-accent: #fadc58;
  --light-accent-2: #ffe880;
  --dark-accent: #deb607;
  --dark-accent-2: #a18711;
  --white: #ffffff;

  --transition-duration-time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
